<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hw1 page</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="hw1_styles.css" />
</head>
<body>
    <div class="content">
        <div class="search-block">
            <input placeholder="Введите название организации" class="search-block__input">
            <button class="search-block__button"></button>
        </div>
        <div class="git-repo-tile">
            <img src="img/avatar.svg" alt="" class="git-repo-tile__avatar">
            <div class="git-repo-tile__data-block">
                <div class="git-repo-tile__title">kts-school-frontend</div>
                <a class="git-repo-tile__link">ktsstudio</a>
                <div class="git-repo-tile__info-block">
                    <div class="git-repo-tile__favorites-block">
                        <img src="img/star.svg" alt="" class="git-repo-tile__favorites-star">
                        123
                    </div>
                    Updated 21 Jul
                </div>
            </div>
        </div>
        <div class="git-repo-tile">
            <img src="img/avatar.svg" alt="" class="git-repo-tile__avatar">
            <div class="git-repo-tile__data-block">
                <div class="git-repo-tile__title">very-long-repository-name-and-something-more</div>
                <a class="git-repo-tile__link">ktsstudio</a>
                <div class="git-repo-tile__info-block">
                    <div class="git-repo-tile__favorites-block">
                        <img src="img/star.svg" alt="" class="git-repo-tile__favorites-star">
                        123
                    </div>
                    Updated 21 Jul
                </div>
            </div>
        </div>
        <div class="git-repo-tile">
            <img src="img/avatar-orange.png" alt="" class="git-repo-tile__avatar">
            <div class="git-repo-tile__data-block">
                <div class="git-repo-tile__title">very-long-repository-name-and-something-more</div>
                <a class="git-repo-tile__link">ktsstudio</a>
                <div class="git-repo-tile__info-block">
                    <div class="git-repo-tile__favorites-block">
                        <img src="img/star.svg" alt="" class="git-repo-tile__favorites-star">
                        123
                    </div>
                    Updated 21 Jul
                </div>
            </div>
        </div>
        <div class="git-repo-tile">
            <img src="img/avatar.svg" alt="" class="git-repo-tile__avatar">
            <div class="git-repo-tile__data-block">
                <div class="git-repo-tile__title">kts-school-frontend</div>
                <a class="git-repo-tile__link">ktsstudio</a>
                <div class="git-repo-tile__info-block">
                    <div class="git-repo-tile__favorites-block">
                        <img src="img/star.svg" alt="" class="git-repo-tile__favorites-star">
                        123
                    </div>
                    Updated 21 Jul
                </div>
            </div>
        </div>
        <div class="git-repo-tile">
            <img src="img/avatar.svg" alt="" class="git-repo-tile__avatar">
            <div class="git-repo-tile__data-block">
                <div class="git-repo-tile__title">kts-school-frontend</div>
                <a class="git-repo-tile__link">ktsstudio</a>
                <div class="git-repo-tile__info-block">
                    <div class="git-repo-tile__favorites-block">
                        <img src="img/star.svg" alt="" class="git-repo-tile__favorites-star">
                        123
                    </div>
                    Updated 21 Jul
                </div>
            </div>
        </div>
        <div class="git-repo-tile">
            <img src="img/avatar.svg" alt="" class="git-repo-tile__avatar">
            <div class="git-repo-tile__data-block">
                <div class="git-repo-tile__title">kts-school-frontend</div>
                <a class="git-repo-tile__link">ktsstudio</a>
                <div class="git-repo-tile__info-block">
                    <div class="git-repo-tile__favorites-block">
                        <img src="img/star.svg" alt="" class="git-repo-tile__favorites-star">
                        123
                    </div>
                    Updated 21 Jul
                </div>
            </div>
        </div>
        <div class="git-repo-tile">
            <img src="img/avatar.svg" alt="" class="git-repo-tile__avatar">
            <div class="git-repo-tile__data-block">
                <div class="git-repo-tile__title">kts-school-frontend</div>
                <a class="git-repo-tile__link">ktsstudio</a>
                <div class="git-repo-tile__info-block">
                    <div class="git-repo-tile__favorites-block">
                        <img src="img/star.svg" alt="" class="git-repo-tile__favorites-star">
                        123
                    </div>
                    Updated 21 Jul
                </div>
            </div>
        </div>
    </div>
</body>
</html>